---
import Layout from '../layouts/Layout.astro';
import { localize } from '../i18n';

const prefix = 'privacy';
const informationCollectedPrefix = 'privacy.informationCollected';
const informationUsagePrefix = 'privacy.informationUsage';
const contactInformationPrefix = 'privacy.contactInformation';
---

<Layout
  description="This privacy policy will help you understand what information is collected and how it is used."
  page="privacy"
  title="Sylvia Castro · Privacy policy"
>
  <div class="mx-auto max-w-3xl px-4 py-16 sm:px-6 sm:py-20 lg:px-8">
    <div class="sm:pb:20 flex flex-col gap-4 pb-16 text-center">
      <h1
        class="text-4xl font-medium tracking-tight sm:text-5xl"
        x-text={localize(prefix, 'header')}
      >
        Privacy Policy
      </h1>
      <p class="text-base" x-text={localize(prefix, 'subtitle')}>Last update: September 5, 2023</p>
    </div>
    <div>
      <p class="mb-4" x-text={localize(prefix, 'preamble')}>
        We are committed to safeguarding your privacy. This Privacy Policy outlines how we collect,
        use, and protect your personal information when you use our website. Please take a moment to
        read through this document to understand our practices.
      </p>
      <h2
        class="mb-6 mt-12 text-xl font-medium sm:text-2xl"
        x-text={localize(informationCollectedPrefix, 'header')}
      >
        1. Information We Collect
      </h2>
      <p class="mb-6" x-text={localize(informationCollectedPrefix, 'preamble')}>
        We may collect the following types of personal information when you interact with our
        website:
      </p>
      <ul class="list-inside list-disc space-y-4">
        <li x-text={localize(informationCollectedPrefix, 'list1')}>
          Information you provide: When you sign up, create an account, or use certain features, we
          may ask for your name, email address, contact details, and other relevant information.
        </li>
        <li x-text={localize(informationCollectedPrefix, 'list2')}>
          Usage data: We may collect data about how you use our website, including but not limited
          to your IP address, browser type, device information, pages visited, and interactions with
          the content.
        </li>
        <li x-text={localize(informationCollectedPrefix, 'list3')}>
          Cookies and similar technologies: We may use cookies and similar technologies to enhance
          your experience, understand usage patterns, and improve our website.
        </li>
      </ul>
      <h2
        class="mb-6 mt-12 text-xl font-medium sm:text-2xl"
        x-text={localize(informationUsagePrefix, 'header')}
      >
        2. How We Use Your Information
      </h2>
      <p class="mb-4" x-text={localize(informationUsagePrefix, 'preamble')}>
        We may use your personal information for the following purposes:
      </p>
      <ul class="list-inside list-disc space-y-4">
        <li x-text={localize(informationUsagePrefix, 'list1')}>
          To provide and improve our website: Your information helps us offer a personalized and
          user-friendly experience.
        </li>
        <li x-text={localize(informationUsagePrefix, 'list2')}>
          Communication: We may use your email address or contact details to send you important
          updates, newsletters, and promotional content. You can opt-out of these communications at
          any time.
        </li>
        <li x-text={localize(informationUsagePrefix, 'list3')}>
          Analytics: We use aggregated and anonymized data to analyze user behavior and improve our
          website.
        </li>
      </ul>
      <h2
        class="mb-6 mt-12 text-xl font-medium sm:text-2xl"
        x-text={localize(contactInformationPrefix, 'header')}
      >
        Contact Us
      </h2>
      <p class="mb-4" x-text={localize(contactInformationPrefix, 'text')}>
        If you have any questions or concerns about our Privacy Policy, please contact us at
        privacy@sylvia-castro.com
      </p>
    </div>
  </div>
</Layout>
