<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">About Us</h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
          As a translator and interpreter, I have done work for various organizations, translated
          and interpreted from English to Spanish on legal, social, family, employment, health,
          education, and government issues, among others. I had the pleasure of working for
          different public and private agencies. Translation work undergoes a multiple proofreading
          and cross-referencing process to assure that the meaning, context, tone, and message of
          all translated text use the most accurate and appropriate language and choice of words
          possible. On the other hand, interpretation will always require quick processing of
          information, and message rendition. Interpretation, either simultaneous or consecutive,
          requires knowledge of language registers and language equivalents. The accuracy of my
          translations and faithfulness of my interpretations will satisfy all of your demands. If
          you have a project that needs to be translated, or a meeting to be interpreted, feel free
          to contact me for a quote and to arrange an assignment.
        </p>
        <a
          href="/about"
          class="inline-flex items-center justify-center rounded-full border border-transparent bg-primary-600 px-5 py-3 text-base font-medium text-white transition hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 dark:bg-primary-400 dark:text-primary-950 dark:hover:bg-primary-300 dark:focus-visible:outline-primary-400"
        >
          Read More
        </a>
      </div>
    </div>
  </div>
</section>
