---
const defaultRecommendationPicture =
  'https://res.cloudinary.com/kevin-castro/image/upload/v1695349792/sylvia-castro/default-profile-picture.png';

const recommendations = [
  {
    name: 'Rosemarie Perez',
    image: '/rosemarie-perez.jpeg',
    message:
      'Sylvia Castro worked for me as a translator and interpreter for three years. She was excellent at her job. She has since received certification as an interpreter. This highly skilled individual would be an asset to organizations wanting to communicate in Spanish.Sylvia Castro worked for me as a translator and interpreter for three years. She was excellent at her job. She has since received certification as an interpreter. This highly skilled individual would be an asset to organizations wanting to communicate in Spanish.',
  },
  {
    name: 'Rita Melton',
    image: '/rita-melton.jpeg',
    message:
      'Sylvia has worked for Redwood City School District as a Translator for many years. I have seen her handle the stresses of translation with a calm focus. She takes the time to make sure she is accurate in her communication. She does a great job.',
  },
  {
    name: 'Naomi Sigler Hunter, APR',
    image: '/naomi-sigler-hunter.jpeg',
    message:
      'Sylvia is an extremely hard worker and very easy to work with. She translated writing for me under great tight deadlines and occasionally at inconvenient times, but never showed signs of stress. She is the type of worker who not only does what is asked of her, but goes beyond what she is personally responsible for to make sure the organization is doing top quality work. Sylvia is also an idea person, and makes very good suggestions that helped me do my own job better. I always enjoyed working with Sylvia and recommend her with enthusiasm!',
  },
  {
    name: 'Hilary Paulson',
    image: '/hilary-paulson.jpeg',
    message:
      'Sylvia worked as the translator for the Redwood City School Board meetings - working well with parents and community members often having to translate in pressurized environments with time constraints.',
  },
  {
    name: 'Julia Morales',
    message:
      'Sylvia was one of the best students in the classroom who was of great help to the professor. She was fluent in both languages and a leader in the classroom.Sylvia was one of the best students in the classroom who was of great help to the professor. She was fluent in both languages and a leader in the classroom.',
  },
  {
    name: 'Juanita Ramirez',
    message:
      'Sylvia is a professional in every way. I have observed her in translation situations with English and Spanish. She is very fluent in both English and Spanish. She has a wide vocabulary in both languages to provide the best possible translation to her clients. I would recommend her to any organization or business that needs quality translation.',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="v mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col items-center gap-12 lg:gap-20">
      <h2 class="mx-auto max-w-xl text-center text-3xl font-medium tracking-tight sm:text-4xl">
        Trusted by public and private organizations for over 20 years
      </h2>
      <div class="gap-y-6 lg:grid lg:grid-cols-3">
        {
          recommendations.map((recommendation) => (
            <figure class="mx-auto flex max-w-lg flex-col items-center gap-6 py-8 lg:px-8 lg:py-0">
              <figcaption class="flex flex-col gap-4">
                <img
                  class="mx-auto h-8 w-8 rounded-full"
                  src={recommendation.image || defaultRecommendationPicture}
                  alt={recommendation.name}
                />
                <div class="text-center">
                  <div class="text-base font-medium">{recommendation.name}</div>
                </div>
              </figcaption>
              <blockquote class="text-md text-center italic leading-loose text-primary-950/70 dark:text-primary-200/70">
                <p>{`“${recommendation.message}”`}</p>
              </blockquote>
            </figure>
          ))
        }
      </div>
    </div>
  </div>
</section>
